.element {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}

.permutation, .shape, #symmetries {
    margin-left: 10px;
    height: 100%;
}

#the-elements {
    display: flex;
    width: 100%;
}

table {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-spacing: 0px;
}

td, th {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-spacing: 0px;
    font-size: 16pt;
}